* {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.nav {
    background-color: rgb(63, 62, 62);
    color: white;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    margin-left: 20px;
    font-weight: 400;
}
.nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
    margin: 10px;
}
.btn {
    background-color: rgb(90, 169, 201);
    color: white;
    margin: 20px 10px;
    box-shadow: 5px 5px 0px black;
    padding: 5px;
}

.active {
    font-weight: 400;
}