* {
    padding: 0;
    margin: 0;
    border: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 970px;
    background: linear-gradient(180deg, rgba(55,118,171,1) 71%, rgba(55,146,222,1) 100%);
    background-repeat: no-repeat;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
#python-logo {
    width: 400px;
}
.search-bar {
    background-color: #404040;
    border-radius: 15px;
    padding: 15px 30px;
    box-shadow: 3px 3px 3px black;
}
#search-button {
    background-color: rgb(55,118,171);
    color: white;
    padding: 10px;
    border-radius: 5px;
    border-top: 2px lightgray solid;
    border-left: 2px lightgray solid;
    border-right: 2px gray solid; 
    border-bottom: 2px gray solid; 
}
.search-bar input {
    height: 35px;
    text-align: center;
    border-top: 2px gray solid;
    border-left: 2px gray solid;
    border-right: 2px lightgray solid;
    border-bottom: 2px lightgray solid;
}
.header-right p {
    color: white;
    font-size: 14px;
    text-align: center;
    margin-bottom: 5px;
}
.header-right a {
    color: #ffd343;
}

/* HEADER STYLING ENDS HERE */

.navbar {
    background-color: rgba(55,146,222,1);
    color: white;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;
    height: 40px; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    margin: 20px;
}

/* NAV BAR STYLING ENDS HERE */
aside {
    width: 900px;
}
.sidebar-list {
    color: white;
    text-align: center;
    line-height: 30px;
    list-style: none;
    text-decoration: underline;
    /* margin: 0 20px 20px 20px; */
}
.sidebar-list li:before {
    content: ">>";
    padding-right: 5px;
    color: #ffd343;
    font-size: 8px;
    font-weight:1000;
    text-decoration: none;
}
.top-section {
    display: flex;
    padding: 20px;
}
.python-intro {
    text-align: center;
    color: white;
}
.zen-python {
    color: #ffd343;
    font-style: italic;
    line-height: 30px;
    margin-top: 20px;
    font-size: 1.25em;
}
.zen-python span {
    color: white;
    font-size: 0.75em;
    font-style: normal;
}

/* TOP SECTION ENDS HERE */

.bottom-section {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.bottom-article {
    text-align: center;
    padding-top: 20px;
    border-top: lightskyblue 5px solid;
}
#getting-started {
    margin-right: 25px;
}
.bottom-article ul {
    color: lightskyblue;
    list-style-type: square;
    list-style-position: inside;
}
.bottom-article span {
    color: lightskyblue;
    font-size: smaller;
}

/* BOTTOM SECTION STYLING ENDS HERE */


