* {
    padding: 0;
    margin: 0;
    border: 0;
}
body {
    width: 970px;
    height: auto;
    background: rgb(55,118,171);
    background: linear-gradient(180deg, rgba(55,118,171,1) 71%, rgba(55,146,222,1) 100%);
    background-repeat: no-repeat;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#python-logo {
    width: 400px;
    margin-top: 20px;
    margin-left: 20px;
}
.search-bar {
    background-color: #404040;
    border-radius: 15px;
    padding: 15px 30px;
    box-shadow: 3px 3px 3px black;
}
#search-button {
    background-color: rgb(55,118,171);
    color: white;
    padding: 10px;
    border-radius: 5px;
    border-top: 2px lightgray solid;
    border-left: 2px lightgray solid;
    border-right: 2px gray solid; 
    border-bottom: 2px gray solid; 
}
.search-bar input {
    height: 35px;
    text-align: center;
    border-top: 2px gray solid;
    border-left: 2px gray solid;
    border-right: 2px lightgray solid;
    border-bottom: 2px lightgray solid;
}
.header-right {
    margin-right: 20px;
    justify-self: flex-end;
}
.header-right p {
    color: white;
    text-align: center;
    margin-bottom: 5px;
}
.header-right a {
    color: #ffd343;
}

/* HEADER STYLING ENDS HERE */

