.row {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
}

.col {
    background-color: turquoise;
    flex: 1;
    /* margin-left: 10px; */
    color: white;
    padding: 20px;
    margin: 10px 10px 10px 0;
}

.col-2 {
    background-color: turquoise;
    /* margin-left: 10px; */
    flex: 2;
    color: white;
    padding: 20px;
    margin: 10px 10px 10px 0;
}

.col-3 {
    background-color: turquoise;
    /* margin-left: 10px; */
    flex: 3;
    color: white;
    padding: 20px;
    margin: 10px 10px 10px 0;
}
