* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
nav {
    background-color: black;
    color: white;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0px;
}
.nav-left {
    display: flex;
    justify-content: flex-start;
}
.nav-title {
    margin-left: 20px;
    font-weight: 400;
    font-size: 1.75em;
}
.nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    margin-left: 20px;
}
.nav-links a {
    color: white;
    text-decoration: none;
    margin: 10px;
}
#btn {
    background-color: #17A2B8;
    color: white;
    font-weight: 400;
    margin: 20px;
    padding: 10px;
}
.active {
    font-weight: 400;
}
/* NAV BAR STYLING ENDS HERE */

.user-card {
    border: lightgray 4px solid;

}
.header {
    background-color: #17A2B8;
    height: 100px;
}
.user-img {
    width: 100px;
    position: relative;
    top: 40px;
    left: 50px;
    border: 4px lightgray solid;
    border-radius: 50%;
}
.user-info {
    padding: 50px 0px 20px 20px;
}

.user-info h2 {
    font-size: 2em;
    font-weight: 400;
}
.location {
    display: flex;
    align-items: flex-end;
    margin: 10px 0px;
}
.location p {
    font-weight: 400;
}
.user-info p {
    width: 60%;
    font-size: 0.95em;
    line-height: 22px;
}
.settings {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.usr-icons {
    height: 15px;
    margin: 5px;
}
#edit-profile {
    color: #4287f5;
    font-size: 0.9em;
}

/* USER CARD STYLING ENDS HERE */

main {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    padding: 15px;
}
section {
    width: 500px;
}
.connections-header {
    background-color: #4C4E52 ;
    display: flex;
    flex-wrap: nowrap;
    color: white;
    font-weight: 400px;
    padding: 10px;
}
.requests-num {
    background-color: lightgray;
    color: black;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.connections-num {
    background-color: lightgray;
    color: black;
    border-radius: 100px / 50px;
    width: 40px;
    height: 20px;
    margin-right: 10px;
}
.connections {
    border: lightgray solid 4px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.connection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
}
.connection-icon {
    height: 25px;
}
.request-icons {
    justify-self: flex-end;
}
.connection-img {
    width: 50px;
    margin-right: 15px;
}
.profile-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.your-connections .connection {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.view-more a {
    color: #4287f5;
    text-decoration: underline;
    font-size: 0.9em;
}
.view-more {
    border-top: lightgray solid 4px;
    padding: 10px;
}
.experience {
    border: lightgray solid 4px;
    margin-top: 20px;
}
.education-header {
    background-color: #4C4E52;
    padding: 10px;
}
.education-header h3 {
    color: white;
    font-weight: 400;
}
.education-bio {
    padding: 10px;
    line-height: 20px;
}
.education-bio h4 {
    font-weight: 400;
}
.edu-1 {
    margin-bottom: 20px;
}