* {
    margin: 0;
    padding: 0;
}

.main {
    width: 70vw;
    border: lightgray 2px solid;
    font-family: sans-serif;
    position: absolute;
    top: 25%;
    left: 15%;

}
.header {
    background-color: #00C5CD;

}
.user-img {
    width: 20%;
    position: relative;
    top: 50px;
    left: 50px;
}
.user-info {
    padding: 50px 0px 20px 20px;
}

.location {
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

h2 {
    font-size: 0.95em;
    margin-left: 5px;
}

.settings {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.icons {
    height: 15px;
    margin: 5px;
}

a {
    color: #4287f5;
}