* {
    margin: 0;
    padding: 0;
    border: 0;
}

.main {
    width: 60%;
    border: lightgray 4px solid;
    font-family: sans-serif;
    position: absolute;
    top: 10%;
    left: 20%;
}

.header {
    background-color: #00C5CD;
}

.user-img {
    width: 100px;
    position: relative;
    top: 50px;
    left: 50px;
    border: 4px lightgray solid;
    border-radius: 50%;
}

.user-info {
    padding: 50px 0px 20px 20px;
}

.location {
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

h2 {
    font-size: 0.95em;
    margin-left: 5px;
}

p {
    width: 60%;
    font-size: 0.95em;
    line-height: 22px;
}
.settings {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.icons {
    height: 15px;
    margin: 5px;
}

a {
    color: #4287f5;
    font-size: 0.9em;
}